h1 {
    display: flex;
    align-items: center;
}
.Logo {
    font-size: 35px;
}
.header-links {
    list-style-type: none;
    display: flex;
    margin-left: 20px;
    padding: 0;
    margin-left: auto;
}

.header-links li {
    margin-right: 10px;
    font-size: 15px;
}

h2 {
    font-size: larger;
    display: flex;
    flex-direction: row;
    align-items: center;
}

title {
    font-size: xx-large;
}

.text-container{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.large-text {
    font-size: x-large;
}

.small-text {
    font-size: small;

}


p {
    display: flex;
    justify-content: flex-start;
}
b {
    display: flex;
    justify-content: flex-start;
}
.pic-container {
    margin-left: 20px;
}
.picture-1{
    width: 100px;
    height: auto;
    margin-left: 20px;
   
}
