h1 {
    display: flex;
    align-items: center;
}
.Logo {
    font-size: 35px;
}
.header-links {
    list-style-type: none;
    display: flex;
    margin-left: 20px;
    padding: 0;
    margin-left: auto;
}

.header-links li {
    margin-right: 10px;
    font-size: 15px;
}